*
    font-family: 'Rubik', sans-serif
.promo
    margin: 89px 0 0 0
    &__btn
        margin-top: 59px
        width: 250px
        height: 60px
        border-radius: 10px
        background: #F53838
        border: none
        font-weight: 700
        font-size: 16px
        line-height: 25px
        color: #FFFFFF
    
    &__icons
        margin: 172px auto 75px auto
        display: flex
        justify-content: space-around
        background-image: url('../img/bg/promo_bg.png')
    
    &__icon
        width: 142px
        display: flex
    &__iconblock
        margin-left: 36px
    &__title
        font-weight: 700
        font-size: 25px
        line-height: 30px
        color: #0B132A
    &__subtitle
        font-weight: 400
        font-size: 20px
        line-height: 30px
        color: #4F5665

.title
    width: 500px
    font-weight: 500
    font-size: 50px
    line-height: 70px
    color: #0B132A
    &_features
        padding-top: 55px
        width: 420px
        font-size: 35px
        line-height: 50px
    &_plan
        width: auto
        font-size: 35px
        line-height: 50px
        text-align: center

.descr
    padding-top: 38px
    width: 500px
    font-weight: 400
    font-size: 16px
    line-height: 30px
    color: #4F5665 
    &_features
        width: 400px
        font-weight: 400
        font-size: 16px
        line-height: 30px
        color: #4F5665
    &_plan
        padding-top: 41px
        width: 575px
        font-size: 16px
        line-height: 30px
        text-align: center
        margin: 0 auto

.features
    margin: 95px 0 120px 0
    &__list
        margin-top: 33px
        list-style-type: none
        padding-left: 50px
        li
            position: relative
            font-weight: 400
            font-size: 14px
            line-height: 30px
            color: #4F5665
            &::before
                content: ''
                display: block
                position: absolute
                left: -49px
                top: 3px
                width: 24px
                height: 24px
                background: url('../icons/check.png') center (center / cover) no-repeat
.plan
    margin: 85px 0 80px 0
    &__block
        margin: 70px auto 0 auto
        box-sizing: border-box
        position: absolute
        width: 330px
        height: 760px
        background: #FFFFFF
        border: 2px solid #DDDDDD
        border-radius: 10px
        img
            display: block
            margin: 79px auto 0 auto
    &__title
        padding-top: 39px
        font-weight: 500
        font-size: 18px
        text-align: center
        color: #0B132A
    &__list
        display: block
        margin: 47px auto 0 auto
        list-style-type: none
        li
            position: relative
            font-weight: 400
            font-size: 14px
            line-height: 30px
            color: #4F5665
            &::before
                content: ''
                display: block
                position: absolute
                left: -49px
                top: 3px
                width: 24px
                height: 24px
                background: url('../icons/check_another.png') center (center / cover) no-repeat
